.root {
	height: 100%;
	width: 100%;
}

body {
	/* So the whole viewport can be used by the square. */
	margin: 0;
}

#sqr {
	/* Uses the 'outer' (i.e. border-box) size when setting width and height. */
	box-sizing: border-box;
	width: 100vmin;
	height: 100vmin;
	background-color: red;
	border: yellow 10px solid;
}

.flex {
	position: fixed;
        display: flex; 
        align-items: center;
        justify-content: center;
}
