@font-face {
	font-family: "bauhaus";
	src: url("../fonts/BAUHS93.TTF");
}

.root {
	height: 100%;
	width: 100%;
	position: fixed;
	align-items: center;
	justify-content: center;
}

body {
	/* So the whole viewport can be used by the square. */
	margin: 0;
	background-color: #000000;
}

#sqr {
	/* Uses the 'outer' (i.e. border-box) size when setting width and height. */
	box-sizing: border-box;
	width: 100vmin;
	height: 100vmin;
	background-image: radial-gradient(#440000FF 0%, #000000FF 50%);
	position: fixed;
	align-items: center;
	justify-content: center;
	cursor: none;
}

#ui-root {
	width: 100vmax;
	height: 100vmin;
	justify-content: center;
	align-items: center;
}

#nickname-div {
	width: 25vmin;
	height: 15vmin;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to top, #AAAAAA 0%, #DDDDDD 100%);
	border-radius: 1vmin;
}

#lets-get-it-started {
	width: 50%;
	height: 25%;
	background-image: linear-gradient(to top, #AE8A52 0%, #C89068 100%);
	border-radius: 1vmin;
	font-size: 2.5vmin;
	transition: all 0.2s ease;
	cursor: pointer;
}
#lets-get-it-started:disabled {
	background-image: linear-gradient(to top, #888888 0%, #BBBBBB 100%);
	font-size: 1.5vmin;
	width: 35%;
	cursor: default;
}

.bauhaus {
	font-family: "bauhaus";
}

#world {
	position: fixed;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: inherit;
}

#player-ball-div {
	width: 10vmin;
	height: 10vmin;
	background-repeat: repeat;
	background-image: url("../img/marble_sanic.jpg");
	border-radius: 50%;
	border-style: solid;
	border-width: 0.01vmin;
	border-color: #444444;
}

#player-ball-overlay {
	width: inherit;
	height: inherit;
}

.ball-shadow {
	width: 20vmin;
	height: 20vmin;
	border-radius: 50%;
	background-image: radial-gradient(#000000FF 0%, #00000000 50%);
}

.ball-fire {
	width: 10vmin;
	height: 10vmin;
}

.ball-fire-trail {
	width: 20vmin;
	height: 20vmin;
}

.tile-row {
	/*width: inherit;*/
	height: 10%;
}

.pixel {
	image-rendering: pixelated;
}

.flex {
        display: flex; 
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}

.absolute {
	position: absolute;
}

.tile {
	height: 100%;
	width: 10vmin;
}

.tile img {
	margin-left: -0.5%;
	margin-top: -0.5%;
	width: 101%;
	height: 101%;
	image-rendering: pixelated;
}

.align {
	align-self: center;
}

.justify {
	justify-self: center;
}


